In [1]:
import pandas as pd
import numpy as np

In [41]:
w=1,2,3,4,5,6,7,8,9,10
ff=pd.DataFrame(w)
ff

    0
0   1
1   2
2   3
3   4
4   5
5   6
6   7
7   8
8   9
9  10

In [42]:
data=1,2,3,4,6,8,0,12
df = pd.DataFrame(data)

In [43]:


df

    0
0   1
1   2
2   3
3   4
4   6
5   8
6   0
7  12

In [44]:

s=pd.Series([1,2,3,4,5,6,np.nan,8,9,10,11,12,13])
s

0      1.0
1      2.0
2      3.0
3      4.0
4      5.0
5      6.0
6      NaN
7      8.0
8      9.0
9     10.0
10    11.0
11    12.0
12    13.0
dtype: float64

In [45]:
d=pd.date_range('20230928',periods=15)
print(type(d))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [47]:
df=pd.DataFrame(np.random.randn(15,4),index=d,columns=["a","b","c","d"])
df

                   a         b         c         d
2023-09-28 -0.801290  2.473924  0.051949 -0.144845
2023-09-29 -1.775324  0.868304 -1.568177  1.321939
2023-09-30  1.371199  0.806189 -0.056680 -1.570426
2023-10-01  0.120945  0.282436  0.784225 -0.518396
2023-10-02 -1.249921  1.158207  1.166802 -0.534551
2023-10-03 -0.745556 -0.754910 -1.189255 -0.661162
2023-10-04  1.213935 -0.655417  0.277038  1.144890
2023-10-05  0.102500 -1.203390  0.598041 -0.209612
2023-10-06 -0.114749  1.114343  0.901724  0.035674
2023-10-07  1.412476  1.457415 -1.353099 -0.861397
2023-10-08 -0.679255 -0.217889 -1.356641 -1.526354
2023-10-09 -0.900855 -0.519438  0.418052  0.387523
2023-10-10  1.127244 -1.430917  0.126193 -0.341334
2023-10-11  0.944396  2.762186 -0.763158  0.023633
2023-10-12  0.646376 -0.935925 -0.920773 -0.211869

In [49]:
df1=pd.DataFrame({"a":[1,2,3,4],
                 "b":pd.Timestamp("20230928"),
                 "c":pd.Series(1,index=list(range(4)),dtype="float32"),
                 "d":np.array([5]*4,dtype="int32"),
                 "e":pd.Categorical(["true","false","true","false"]),
                 "f":"pandas"})
df1

   a          b    c  d      e       f
0  1 2023-09-28  1.0  5   true  pandas
1  2 2023-09-28  1.0  5  false  pandas
2  3 2023-09-28  1.0  5   true  pandas
3  4 2023-09-28  1.0  5  false  pandas

In [9]:
df1.dtypes

a             int64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

In [50]:
df.dtypes

a    float64
b    float64
c    float64
d    float64
dtype: object

In [51]:
df.head()

                   a         b         c         d
2023-09-28 -0.801290  2.473924  0.051949 -0.144845
2023-09-29 -1.775324  0.868304 -1.568177  1.321939
2023-09-30  1.371199  0.806189 -0.056680 -1.570426
2023-10-01  0.120945  0.282436  0.784225 -0.518396
2023-10-02 -1.249921  1.158207  1.166802 -0.534551

In [52]:
df.tail()

                   a         b         c         d
2023-10-08 -0.679255 -0.217889 -1.356641 -1.526354
2023-10-09 -0.900855 -0.519438  0.418052  0.387523
2023-10-10  1.127244 -1.430917  0.126193 -0.341334
2023-10-11  0.944396  2.762186 -0.763158  0.023633
2023-10-12  0.646376 -0.935925 -0.920773 -0.211869

In [53]:
df.index

DatetimeIndex(['2023-09-28', '2023-09-29', '2023-09-30', '2023-10-01',
               '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05',
               '2023-10-06', '2023-10-07', '2023-10-08', '2023-10-09',
               '2023-10-10', '2023-10-11', '2023-10-12'],
              dtype='datetime64[ns]', freq='D')

In [54]:
df.columns

Index(['a', 'b', 'c', 'd'], dtype='object')

In [55]:
df.to_numpy()

array([[-0.80129007,  2.4739243 ,  0.05194879, -0.14484497],
       [-1.77532382,  0.86830376, -1.56817738,  1.32193892],
       [ 1.37119896,  0.80618856, -0.05668006, -1.57042622],
       [ 0.12094503,  0.28243588,  0.78422466, -0.51839566],
       [-1.249921  ,  1.15820689,  1.1668023 , -0.5345514 ],
       [-0.74555638, -0.75490985, -1.18925469, -0.66116196],
       [ 1.21393544, -0.65541722,  0.27703774,  1.14488989],
       [ 0.10249966, -1.20339018,  0.59804086, -0.20961189],
       [-0.11474875,  1.11434333,  0.90172377,  0.03567393],
       [ 1.41247578,  1.45741506, -1.35309946, -0.86139655],
       [-0.67925478, -0.2178886 , -1.35664068, -1.52635421],
       [-0.90085487, -0.5194377 ,  0.41805204,  0.38752285],
       [ 1.12724396, -1.43091743,  0.12619337, -0.34133368],
       [ 0.94439571,  2.76218646, -0.76315812,  0.02363339],
       [ 0.64637623, -0.93592478, -0.92077345, -0.21186889]])

In [56]:
df.describe()

               a          b          c          d
count  15.000000  15.000000  15.000000  15.000000
mean    0.044808   0.347008  -0.192251  -0.244419
std     1.039312   1.304472   0.919675   0.804901
min    -1.775324  -1.430917  -1.568177  -1.570426
25%    -0.773423  -0.705164  -1.055014  -0.597857
50%     0.102500   0.282436   0.051949  -0.211869
75%     1.035820   1.136275   0.508046   0.029654
max     1.412476   2.762186   1.166802   1.321939

In [57]:
df.sort_values(by="c")

                   a         b         c         d
2023-09-29 -1.775324  0.868304 -1.568177  1.321939
2023-10-08 -0.679255 -0.217889 -1.356641 -1.526354
2023-10-07  1.412476  1.457415 -1.353099 -0.861397
2023-10-03 -0.745556 -0.754910 -1.189255 -0.661162
2023-10-12  0.646376 -0.935925 -0.920773 -0.211869
2023-10-11  0.944396  2.762186 -0.763158  0.023633
2023-09-30  1.371199  0.806189 -0.056680 -1.570426
2023-09-28 -0.801290  2.473924  0.051949 -0.144845
2023-10-10  1.127244 -1.430917  0.126193 -0.341334
2023-10-04  1.213935 -0.655417  0.277038  1.144890
2023-10-09 -0.900855 -0.519438  0.418052  0.387523
2023-10-05  0.102500 -1.203390  0.598041 -0.209612
2023-10-01  0.120945  0.282436  0.784225 -0.518396
2023-10-06 -0.114749  1.114343  0.901724  0.035674
2023-10-02 -1.249921  1.158207  1.166802 -0.534551

In [58]:
df["c"]

2023-09-28    0.051949
2023-09-29   -1.568177
2023-09-30   -0.056680
2023-10-01    0.784225
2023-10-02    1.166802
2023-10-03   -1.189255
2023-10-04    0.277038
2023-10-05    0.598041
2023-10-06    0.901724
2023-10-07   -1.353099
2023-10-08   -1.356641
2023-10-09    0.418052
2023-10-10    0.126193
2023-10-11   -0.763158
2023-10-12   -0.920773
Freq: D, Name: c, dtype: float64

In [59]:
df[0:3]

                   a         b         c         d
2023-09-28 -0.801290  2.473924  0.051949 -0.144845
2023-09-29 -1.775324  0.868304 -1.568177  1.321939
2023-09-30  1.371199  0.806189 -0.056680 -1.570426

In [60]:
df.loc[d[0]]

a   -0.801290
b    2.473924
c    0.051949
d   -0.144845
Name: 2023-09-28 00:00:00, dtype: float64

In [61]:
df.loc[:,["a","c"]]

                   a         c
2023-09-28 -0.801290  0.051949
2023-09-29 -1.775324 -1.568177
2023-09-30  1.371199 -0.056680
2023-10-01  0.120945  0.784225
2023-10-02 -1.249921  1.166802
2023-10-03 -0.745556 -1.189255
2023-10-04  1.213935  0.277038
2023-10-05  0.102500  0.598041
2023-10-06 -0.114749  0.901724
2023-10-07  1.412476 -1.353099
2023-10-08 -0.679255 -1.356641
2023-10-09 -0.900855  0.418052
2023-10-10  1.127244  0.126193
2023-10-11  0.944396 -0.763158
2023-10-12  0.646376 -0.920773

In [62]:
df.loc["20210928":"20211003",["d","c"]]

Empty DataFrame
Columns: [d, c]
Index: []

In [64]:
df.loc["20230928",["d","c"]]

d   -0.144845
c    0.051949
Name: 2023-09-28 00:00:00, dtype: float64

In [65]:
df.loc[d[0],["d","c"]]

d   -0.144845
c    0.051949
Name: 2023-09-28 00:00:00, dtype: float64

In [66]:
df.at[d[0],'c']

0.0519487895440897

In [67]:
df.iloc[3]

a    0.120945
b    0.282436
c    0.784225
d   -0.518396
Name: 2023-10-01 00:00:00, dtype: float64

In [68]:
df.iloc[3:5]

                   a         b         c         d
2023-10-01  0.120945  0.282436  0.784225 -0.518396
2023-10-02 -1.249921  1.158207  1.166802 -0.534551

In [69]:
df.iloc[3:5,0:2]

                   a         b
2023-10-01  0.120945  0.282436
2023-10-02 -1.249921  1.158207

In [70]:
df[df["a"]>0]

                   a         b         c         d
2023-09-30  1.371199  0.806189 -0.056680 -1.570426
2023-10-01  0.120945  0.282436  0.784225 -0.518396
2023-10-04  1.213935 -0.655417  0.277038  1.144890
2023-10-05  0.102500 -1.203390  0.598041 -0.209612
2023-10-07  1.412476  1.457415 -1.353099 -0.861397
2023-10-10  1.127244 -1.430917  0.126193 -0.341334
2023-10-11  0.944396  2.762186 -0.763158  0.023633
2023-10-12  0.646376 -0.935925 -0.920773 -0.211869

In [71]:
df[df['a']>2]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [72]:
df[df['a']>3]

Empty DataFrame
Columns: [a, b, c, d]
Index: []

In [73]:
df2=df.reindex(index=d[0:4],columns=list(df.columns)+["e"])
df2.loc[d[0]:d[1],"e"]=1
df2

                   a         b         c         d    e
2023-09-28 -0.801290  2.473924  0.051949 -0.144845  1.0
2023-09-29 -1.775324  0.868304 -1.568177  1.321939  1.0
2023-09-30  1.371199  0.806189 -0.056680 -1.570426  NaN
2023-10-01  0.120945  0.282436  0.784225 -0.518396  NaN

In [74]:
df2.isnull()

                a      b      c      d      e
2023-09-28  False  False  False  False  False
2023-09-29  False  False  False  False  False
2023-09-30  False  False  False  False   True
2023-10-01  False  False  False  False   True

In [75]:
df2.dropna

<bound method DataFrame.dropna of                    a         b         c         d    e
2023-09-28 -0.801290  2.473924  0.051949 -0.144845  1.0
2023-09-29 -1.775324  0.868304 -1.568177  1.321939  1.0
2023-09-30  1.371199  0.806189 -0.056680 -1.570426  NaN
2023-10-01  0.120945  0.282436  0.784225 -0.518396  NaN>

In [76]:
df2.fillna(value=2)

                   a         b         c         d    e
2023-09-28 -0.801290  2.473924  0.051949 -0.144845  1.0
2023-09-29 -1.775324  0.868304 -1.568177  1.321939  1.0
2023-09-30  1.371199  0.806189 -0.056680 -1.570426  2.0
2023-10-01  0.120945  0.282436  0.784225 -0.518396  2.0

In [77]:
df.mean()

a    0.044808
b    0.347008
c   -0.192251
d   -0.244419
dtype: float64

In [82]:
s=pd.Series([1,2,3,np.nan,4,5,6,7,8,9,10,11,12,13,14],index=d).shift(2)
print(s)

2023-09-28     NaN
2023-09-29     NaN
2023-09-30     1.0
2023-10-01     2.0
2023-10-02     3.0
2023-10-03     NaN
2023-10-04     4.0
2023-10-05     5.0
2023-10-06     6.0
2023-10-07     7.0
2023-10-08     8.0
2023-10-09     9.0
2023-10-10    10.0
2023-10-11    11.0
2023-10-12    12.0
Freq: D, dtype: float64

In [80]:
d

DatetimeIndex(['2023-09-28', '2023-09-29', '2023-09-30', '2023-10-01',
               '2023-10-02', '2023-10-03', '2023-10-04', '2023-10-05',
               '2023-10-06', '2023-10-07', '2023-10-08', '2023-10-09',
               '2023-10-10', '2023-10-11', '2023-10-12'],
              dtype='datetime64[ns]', freq='D')