In [1]:
import numpy as np
import pandas as pd

In [2]:
w=11,12,13,14,15,16,17,18,19,20
ff=pd.DataFrame(w)
ff

    0
0  11
1  12
2  13
3  14
4  15
5  16
6  17
7  18
8  19
9  20

In [3]:
w=1,2,3,4,5
hii=pd.DataFrame(w)
hii

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
a=pd.Series([100,101,102,103,np.nan,105,106,107])
print(a)

0    100.0
1    101.0
2    102.0
3    103.0
4      NaN
5    105.0
6    106.0
7    107.0
dtype: float64

In [5]:
b=pd.date_range('20231006',periods=15)
print(type(b))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [6]:
d=pd.date_range('20210928',periods=11)
print(type(d))

<class 'pandas.core.indexes.datetimes.DatetimeIndex'>

In [7]:
df=pd.DataFrame(np.random.randn(15,4),index=b,columns=["A","B","C","D"])
df

                   A         B         C         D
2023-10-06  2.189852  0.634011  0.066459 -0.311668
2023-10-07  0.741767 -1.193395 -0.847141  0.431831
2023-10-08 -0.120301  0.989202 -0.205222  0.617882
2023-10-09  0.622082  1.217498  0.304735  0.653147
2023-10-10 -0.512597 -1.385140  0.850626 -0.388984
2023-10-11 -0.806950 -0.847602 -1.454462  0.858920
2023-10-12 -1.214280  1.519873  0.235653  0.143332
2023-10-13  0.339150  0.911800  0.876061  0.562974
2023-10-14  0.512558  0.359400  0.032392 -0.034969
2023-10-15 -1.431043 -0.369059 -1.407190 -0.379168
2023-10-16 -0.460124  0.507771  0.839027 -0.957898
2023-10-17 -1.023185  0.354948 -1.435721 -0.136776
2023-10-18  0.529717 -0.244412 -0.897217  2.061374
2023-10-19  0.831855 -0.764084 -1.116375  0.556618
2023-10-20  1.520364 -0.267758  0.953264  0.151447

In [8]:
df1=pd.DataFrame({"a":[1,2,3,4],
                 "b":pd.Timestamp("20231006"),
                 "c":pd.Series(1,index=list(range(4)),dtype="float32"),
                 "d":np.array([6]*4,dtype="int32"),
                 "e":pd.Categorical(["true","false","true","false"]),
                 "f":"pandas"})
df1

   a          b    c  d      e       f
0  1 2023-10-06  1.0  6   true  pandas
1  2 2023-10-06  1.0  6  false  pandas
2  3 2023-10-06  1.0  6   true  pandas
3  4 2023-10-06  1.0  6  false  pandas

In [9]:
df1=pd.DataFrame({"a":[1,2,3,4],
                 "b":pd.Timestamp("20210928"),
                 "c":pd.Series(1,index=list(range(4)),dtype="float32"),
                 "d":np.array([5]*4,dtype="int32"),
                 "e":pd.Categorical(["true","false","true","false"]),
                 "f":"pandas"})
df1

   a          b    c  d      e       f
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   true  pandas
3  4 2021-09-28  1.0  5  false  pandas

In [10]:
df1.dtypes

a             int64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

In [11]:
df1.head()

   a          b    c  d      e       f
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   true  pandas
3  4 2021-09-28  1.0  5  false  pandas

In [12]:
df1.tail()

   a          b    c  d      e       f
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   true  pandas
3  4 2021-09-28  1.0  5  false  pandas

In [13]:
df1.index

Int64Index([0, 1, 2, 3], dtype='int64')

In [14]:
df1.columns

Index(['a', 'b', 'c', 'd', 'e', 'f'], dtype='object')

In [15]:
df1.to_numpy

<bound method DataFrame.to_numpy of    a          b    c  d      e       f
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   true  pandas
3  4 2021-09-28  1.0  5  false  pandas>

In [16]:
df1.describe()

              a    c    d
count  4.000000  4.0  4.0
mean   2.500000  1.0  5.0
std    1.290994  0.0  0.0
min    1.000000  1.0  5.0
25%    1.750000  1.0  5.0
50%    2.500000  1.0  5.0
75%    3.250000  1.0  5.0
max    4.000000  1.0  5.0

In [18]:
df1.sort_values(by="c")

   a          b    c  d      e       f
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   true  pandas
3  4 2021-09-28  1.0  5  false  pandas

In [19]:
df1["c"]

0    1.0
1    1.0
2    1.0
3    1.0
Name: c, dtype: float32

In [28]:
df1[0:3]

   a          b    c  d      e       f
0  1 2021-09-28  1.0  5   true  pandas
1  2 2021-09-28  1.0  5  false  pandas
2  3 2021-09-28  1.0  5   true  pandas

In [49]:
df=pd.DataFrame(np.random.randn(15,4),index=b,columns=["A","B","C","D"])
df.loc[d[0]]

KeyError: Timestamp('2021-09-28 00:00:00', freq='D')

In [31]:
df1.loc[:,["a","c"]]

   a    c
0  1  1.0
1  2  1.0
2  3  1.0
3  4  1.0

In [35]:
df1.loc["20231006":"20231015",["d","c"]]

Empty DataFrame
Columns: [d, c]
Index: []

In [50]:
df.loc["20210928",["D","C"]]

KeyError: '20210928'

In [45]:
df1.loc[d[0],'c']

KeyError: Timestamp('2021-09-28 00:00:00', freq='D')

In [47]:
df[df["a"]>0]

KeyError: 'a'